SUPABASE_PROJECT_REF=ixwaaziifteubxkxtdwj
EXPECTED_PROJECT_REF=ixwaaziifteubxkxtdwj
SUPABASE_DB_PASSWORD=your_prod_db_password
SUPABASE_PAT_FILE="/Users/guntur/Lintas Buana Sistem Digital/PAT/supabase_pat.txt"
